@charset "utf-8";
/* CSS Document */
#principal {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height: 100vh;	
}
#pantalla{
  float: left;
  width: 100%;
  height :25%;
  background: #666;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  font-family: "Times New Roman" ,Times , serif;
  color: #FFF;
}
#teclado{
  float: left;
  width: 100%;
  height: 75%;	
}
.nota{
	position::relative;
	float:left;
	height:100%;
	outline:#FFF solid 3px;
	background: #9FE0FF;
    width:14.28571428571429%;
}
.tocada{
	background: #6F6;
	color: #FFF;
	outline: #699 solid 1px;
}

.textonota{
	position: relative;
	top: 80%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}