@charset "utf-8";
/* CSS Document */
#principal {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height: 100vh;	
}
#pantalla{
  float: left;
  width: 100%;
  height :25%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(../imagenes/h1.png);
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  font-family: "Times New Roman" ,Times , serif;
  color: #FFF;
}
#teclado{
  float: left;
  width: 100%;
  height: 75%;	
}
.nota{
	position::relative;
	float:left;
	height:100%;
	outline:#000 solid 3px;
	background: #FFF;
    width:7.142856%;
}
.nota1 {
	top:25%;
	position:absolute;
	float: right;
	height: 40%;
	width: 3.571418%;
}
.tocada{
	background: #666;
	color: #FFF;
	outline: #699 solid 1px;
}
.tocada1{
	background: #0F0;
	color: #FFF;
	outline: #699 solid 3px;
}

.textonota{
	position: relative;
	top: 80%;
	text-align: center;
	font-size: 70%;
	font-weight: bold;
}
#do1 {
	background-color: #000;
	margin-left:5.1%;
}
#re1 {
	background-color: #000;
	margin-left:12.3%;
}
#fa1 {
	background-color: #000;
	margin-left:26.5%;
}
#sol1 {
	background-color: #000;
	margin-left:33.7%;
}
#la1 {
	background-color: #000;
	margin-left:40.8%;
}
#do2 {
	background-color: #000;
	margin-left:55%;
}
#re2 {
	background-color: #000;
	margin-left:62.3%;
}
#fa2 {
	background-color: #000;
	margin-left:76.5%;
}
#sol2 {
	background-color: #000;
	margin-left:83.5%;
}
#la2 {
	background-color: #000;
	margin-left:90.8%;
}
	




